In [1]:
list1 = ['Acapulco',
 'Antwerp',
 'Atlanta',
 'Auckland',
 'Australian Open',
 'Barcelona',
 'Basel',
 'Bastad',
 'Beijing',
 'Brisbane',
 'Bucharest',
 'Buenos Aires',
 'Canada Masters',
 'Chengdu',
 'Chennai',
 'Cincinnati Masters',
 'Delray Beach',
 'Doha',
 'Dubai',
 'Estoril',
 'Geneva',
 'Gstaad',
 'Halle',
 'Hamburg',
 'Houston',
 'Indian Wells Masters',
 'Istanbul',
 'Kitzbuhel',
 'London',
 'Los Cabos',
 'Madrid Masters',
 'Marrakech',
 'Marseille',
 'Memphis',
 'Metz',
 'Miami Masters',
 'Monte Carlo Masters',
 'Montpellier',
 'Moscow',
 'Munich',
 'Newport',
 'Nice',
 'Nottingham',
 'Olympics',
 'Paris Masters',
 'Quito',
 'Rio de Janeiro',
 'Roland Garros',
 'Rome Masters',
 'Rotterdam',
 'Sao Paulo',
 'Shanghai Masters',
 'Shenzhen',
 'Sofia',
 'St.Petersburg',
 'Stockholm',
 'Stuttgart',
 'Sydney',
 'Tokyo',
 'Umag',
 'Us Open',
 'Vienna',
 'Washington',
 'Wimbledon',
 'Winston-Salem',
 's-Hertogenbosch']

In [2]:
list2 = ['atp-acapulco-2016',
 'atp-antwerp',
 'atp-atlanta-2016',
 'atp-auckland-2016',
 '',
 '',
 'atp-basel',
 'atp-bastad-2016',
 'atp-beijing',
 'atp-brisbane-2016',
 'atp-bucharest',
 'atp-buenos-aires-2016',
 '',
 'atp-chengdu',
 'atp-chennai-2016',
 'atp-cincinnati-2016',
 'atp-delray-beach-2016',
 'atp-doha-2016',
 'atp-dubai-2016',
 'atp-estoril-2016',
 'atp-geneva-2016',
 'atp-gstaad-2016',
 'atp-halle-2016',
 'atp-hamburg-2016',
 'atp-houston-2016',
 '',
 'atp-istanbul-2016',
 'atp-kitzbuhel-2016',
 'atp-london-2016',
 'atp-los-cabos-2016',
 '',
 'atp-marrakech-2016',
 'atp-marseille-2016',
 'atp-memphis-2016',
 'atp-metz',
 '',
 '',
 'atp-montpellier-2016',
 'atp-moscow',
 'atp-munich-2016',
 'atp-newport-2016',
 'atp-nice',
 'atp-nottingham',
 'atp-olympic-games',
 'atp-paris',
 'atp-quito-2016',
 'atp-rio-de-janeiro-2016',
 '',
 '',
 'atp-rotterdam-2016',
 'atp-sao-paulo-2016',
 'atp-shanghai',
 'atp-shenzhen',
 'atp-sofia-2016',
 'atp-st-petersburg',
 'atp-stockholm',
 'atp-stuttgart-2016',
 'atp-sydney-2016',
 'atp-tokyo',
 'atp-umag-2016',
 'atp-us-open-2016',
 'atp-vienna',
 '',
 '',
 'atp-winston-salem-2016',
 'atp-hertogenbosch-2016']

In [3]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Read tennis odds from Kaggle Dataset

df = pd.read_csv('t_odds.csv')

In [5]:
# Read the DataFrame constructed as game_df.

gdf = pd.read_pickle('oct_23.pkl')

In [6]:
# Get just the betting odds from all bookies, for season 2016
# Extension 1: fix 2017 data in games_df module to use 2017 as holdout

df = df[df.tournament_name.str.contains("atp")]
df = df.loc[df.doubles == 0]
df.date = pd.to_datetime(df.date)
df = df.loc[(df.date >= datetime.date(month=1, year=2016, day=1)) &
            (df.date <= datetime.date(month=1, year=2017, day=1))]

In [7]:
df = df.drop(['10bet_payout', '18bet_payout', '5dimes_payout', 'bet-at-home_payout',
         'bet365_payout', 'bethard_payout', 'betolimp_payout', 'betrally_payout',
         'bwin_payout', 'jetbull_payout', 'pinnacle_payout', 'marathonbet_payout',
         'tempobet_payout', 'tonybet_payout', 'unibet_payout'], axis=1)

In [8]:
# Get just the rows from game_df in saeson 2016.

gdf.tourney_date = pd.to_datetime(gdf.tourney_date)
gdf = gdf.loc[(gdf.tourney_date >= datetime.date(month=1, year=2016, day=1)) & 
             (gdf.tourney_date <= datetime.date(month=1, year=2017, day=1))]

In [9]:
# Helper fxn.

def convert_name(full_name):
    """
    Convert First/Last name combo to Last Name, First Initial.
    E.g. Roger Federer --> Federer R.
    """
    x = full_name.split()
    return x[1].title() + " " + x[0][0].upper() + "."

In [10]:
# Now apply name conversion to all of gdf.

gdf['player1_name'] = gdf.player1_name.apply(convert_name)
gdf['player2_name'] = gdf.player2_name.apply(convert_name);

In [11]:
# Helper fxn.

def implied_probability(decimal_odds):
    """
    Convert a player's decimal odds to implied probabilty.
    """
    
    return (1/decimal_odds) * 100

In [12]:
odds_columns = ['10bet_player_1_odd',
       '10bet_player_2_odd', '18bet_player_1_odd',
       '18bet_player_2_odd', '5dimes_player_1_odd',
       '5dimes_player_2_odd', 'bet-at-home_player_1_odd',
       'bet-at-home_player_2_odd', 'bet365_player_1_odd',
       'bet365_player_2_odd', 'bethard_player_1_odd',
       'bethard_player_2_odd', 'betolimp_player_1_odd',
       'betolimp_player_2_odd', 'betrally_player_1_odd',
       'betrally_player_2_odd', 'bwin_player_1_odd',
       'bwin_player_2_odd', 'jetbull_player_1_odd',
       'jetbull_player_2_odd',
       'marathonbet_player_1_odd', 'marathonbet_player_2_odd',
       'pinnacle_player_1_odd', 'pinnacle_player_2_odd',
       'tempobet_player_1_odd', 'tempobet_player_2_odd',
       'tonybet_player_1_odd', 'tonybet_player_2_odd',
       'unibet_player_1_odd', 'unibet_player_2_odd']

player1_odds_columns = ['10bet_player_1_odd', '18bet_player_1_odd', '5dimes_player_1_odd',
'bet-at-home_player_1_odd', 'bet365_player_1_odd', 'bethard_player_1_odd',
'betolimp_player_1_odd', 'betrally_player_1_odd', 'bwin_player_1_odd',
'jetbull_player_1_odd', 'marathonbet_player_1_odd', 'pinnacle_player_1_odd',
'tempobet_player_1_odd', 'tonybet_player_1_odd', 'unibet_player_1_odd']

player2_odds_columns = ['10bet_player_2_odd', '18bet_player_2_odd', '5dimes_player_2_odd',
'bet-at-home_player_2_odd', 'bet365_player_2_odd', 'bethard_player_2_odd',
'betolimp_player_2_odd', 'betrally_player_2_odd', 'bwin_player_2_odd',
'jetbull_player_2_odd', 'marathonbet_player_2_odd', 'pinnacle_player_2_odd',
'tempobet_player_2_odd', 'tonybet_player_2_odd', 'unibet_player_2_odd']

In [13]:
# Convert to implied probability
for odds_column in odds_columns:
    df[odds_column] = df[odds_column].apply(implied_probability)

In [14]:
# Compute avg implied probability and insert into columns.
df['player1_avg_odds'] = df[player1_odds_columns].mean(axis=1)
df['player2_avg_odds'] = df[player2_odds_columns].mean(axis=1)

# Drop unneeded columns.
df = df.drop(player1_odds_columns, axis=1)
df = df.drop(player2_odds_columns, axis=1)

In [15]:
# Get just the month-year info from gdf.tourney_date, and ignore the rest.\
# day is set to equal 1 in all cases: this is ok for my purposes (i think)

gdf['merge_date'] = gdf.tourney_date.astype(str).apply(lambda x: x[:7])
gdf.merge_date = gdf.merge_date.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m').date())

# Do the same for df.date.

df['merge_date'] = df.date.astype(str).apply(lambda x: x[:7])
df.merge_date = df.merge_date.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m').date())

In [16]:
#### The case where player1 / player2 tuples DO match up.

# Create a new column to merge on: tuple of player names.

# Create new column
df['players_forward'] = df.player_1_name + "," + df.player_2_name
gdf['players_forward'] = gdf.player1_name + "," + gdf.player2_name

# Split into list object
gdf.players_forward = gdf.players_forward.apply(lambda x: x.split(','))
df.players_forward = df.players_forward.apply(lambda x: x.split(','))

# Convert to tuple.
gdf.players_forward = gdf.players_forward.apply(lambda x: tuple(x))
df.players_forward = df.players_forward.apply(lambda x: tuple(x))

In [17]:
#### The case where player1 / player2 tuples DO NOT match up.

# Create a new column to merge on: tuple of player names.

# Create new column
df['players_backward'] = df.player_2_name + "," + df.player_1_name
gdf['players_backward'] = gdf.player1_name + "," + gdf.player2_name

# Split into list object
gdf.players_backward = gdf.players_backward.apply(lambda x: x.split(','))
df.players_backward = df.players_backward.apply(lambda x: x.split(','))

# Convert to tuple.
gdf.players_backward = gdf.players_backward.apply(lambda x: tuple(x))
df.players_backward = df.players_backward.apply(lambda x: tuple(x))

In [18]:
df[['date', 'tournament_name', 'players_forward', 'players_backward']].head()

,date,tournament_name,players_forward,players_backward
36,2016-08-26 02:00:00,atp-us-open-2016,"(Opelka R., Giraldo S.)","(Giraldo S., Opelka R.)"
71,2016-06-06 12:50:00,atp-hertogenbosch-2016,"(Nishioka Y., Kozlov S.)","(Kozlov S., Nishioka Y.)"
134,2016-05-17 12:00:00,atp-nice,"(Munoz-De La Nava D., Seppi A.)","(Seppi A., Munoz-De La Nava D.)"
135,2016-02-17 18:15:00,atp-rio-de-janeiro-2016,"(Thiem D., Schwartzman D.)","(Schwartzman D., Thiem D.)"
185,2016-08-26 17:30:00,atp-us-open-2016,"(Khachanov K., Rubin N.)","(Rubin N., Khachanov K.)"

In [19]:
gdf[['tourney_date', 'tourney_name', 'players_forward', 'players_backward']].head()

,tourney_date,tourney_name,players_forward,players_backward
83636,2016-01-04 00:01:00,Brisbane,"(Federer R., Raonic M.)","(Federer R., Raonic M.)"
83637,2016-01-04 00:01:00,Brisbane,"(Federer R., Thiem D.)","(Federer R., Thiem D.)"
83638,2016-01-04 00:01:00,Brisbane,"(Raonic M., Tomic B.)","(Raonic M., Tomic B.)"
83639,2016-01-04 00:01:00,Brisbane,"(Federer R., Dimitrov G.)","(Federer R., Dimitrov G.)"
83640,2016-01-04 00:01:00,Brisbane,"(Cilic M., Thiem D.)","(Cilic M., Thiem D.)"

In [20]:
td = dict(zip(list1, list2))

In [21]:
td_backwards = dict(zip(list2, list1))

In [22]:
def convert_tourney_name(name):
    new_name = td_backwards.get(name, '')
    return new_name

In [23]:
df.tournament_name = df.tournament_name.apply(convert_tourney_name)

In [24]:
df.tournament_name

36                Us Open
71        s-Hertogenbosch
134                  Nice
135        Rio de Janeiro
185               Us Open
194         Paris Masters
345                  Doha
364         St.Petersburg
402                 Dubai
502                  Umag
576                Moscow
773               Us Open
789               Hamburg
870                 Quito
884           Montpellier
993             Los Cabos
1065             Istanbul
1094            Sao Paulo
1231              Chengdu
1288              Us Open
1378                Tokyo
1434              Chennai
1628                Tokyo
1658                Tokyo
1783              Beijing
1843                Basel
1870       Rio de Janeiro
2031             Shenzhen
2178                Halle
2188              Chengdu
               ...
137871              Basel
137952            Us Open
138003            Atlanta
138048             Geneva
138073       Delray Beach
138106             Bastad
138169               Umag
138222            Us Open
138355            Chennai
138468          Bucharest
138577       Buenos Aires
138637              Tokyo
138715             Bastad
138745            Newport
138805             Bastad
138903              Dubai
138999            Houston
139112               Umag
139126            Us Open
139141           Acapulco
139177            Us Open
139209            Us Open
139274            Chennai
139283            Us Open
139288           Auckland
139315          Stockholm
139332          Los Cabos
139340    s-Hertogenbosch
139344           Acapulco
139423              Dubai
Name: tournament_name, Length: 2312, dtype: object

In [32]:
gdf.rename(columns={'tourney_name': 'tournament_name'}, inplace=True)

In [34]:
# Create merged DataFrames.

forward_match = gdf.merge(df, on=['tournament_name', 'players_forward'])
backward_match = gdf.merge(df, on=['tournament_name', 'players_backward'])

In [35]:
# Switch the p1 and p2 probabilities in backward_match, to correct for the misordering.

actual_p1_prob = backward_match.player2_avg_odds.copy(deep=True)
actual_p2_prob = backward_match.player1_avg_odds.copy(deep=True)
backward_match.player1_avg_odds = actual_p1_prob
backward_match.player2_avg_odds = actual_p2_prob

In [36]:
# DataFrames ready to concat and reorder based on tourney_date.

games_df = pd.concat([forward_match, backward_match])

In [37]:
### May need to add more columns -- don't remember off the top if my head what exactly went into games_df before.

game = ['game_index', 'label', 'player1_avg_odds', 'player2_avg_odds']

deltas = ['delta_1stIn_expw', 'delta_1stIn_mavg', 'delta_1stWon_expw',
'delta_1stWon_mavg', 'delta_2ndWon_expw', 'delta_2ndWon_mavg',
'delta_SvGms_expw', 'delta_SvGms_mavg', 'delta_ace_expw',
'delta_ace_mavg', 'delta_age', 'delta_bpFaced_expw', 'delta_bpFaced_mavg',
'delta_bpSaved_expw', 'delta_bpSaved_mavg', 'delta_df_expw',
'delta_df_mavg', 'delta_ht', 'delta_rank', 'delta_rank_points',
'delta_svpt_expw', 'delta_svpt_mavg']

cols = game + deltas
games_df = games_df[cols]
games_df = games_df.sort_values('game_index')

In [38]:
games_df.shape

(1089, 26)